.contacts-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25%);
    grid-column-gap: 5%;
    padding: 0 30px;
}

.contacts-heading {
    grid-column: 1 / span 2;
}

.contacts-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    max-width: 100%;
    max-height: 100%;
}

.name {
    grid-column: 1 / 2;
}

.surname {
    grid-column: 2 / 3;
}

.email {
    grid-column: 1 / 2;
}

.phone {
    grid-column: 2 / 3;
}

.message {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.map {
    width: 100%;
}

.send-button {
    grid-column : 1 / span 2;
}

.contacts-main-paragraph {
    grid-column: 1 / span 2;
}

.contacts-text-1 {
    grid-column: 1 / 2;
}

.contacts-text-2 {
    grid-column: 2 / 3;
}

@media only screen and (max-width: 720px) {

    .contacts-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 16.67%);
        grid-row-gap: 15px;
        padding: 0 30px;
    }    

    .contacts-heading {
        grid-row: 1 / 2;
    }

    .map {
        grid-row: 2 / 3;
    }

    .contacts-form {
        grid-row: 3 / 4;
        height: 205px;
    }

    .contacts-main-paragraph {
        grid-row: 4 / 5;
    }
    
    .contacts-text-1 {
        grid-row: 5 / 6;
    }
    
    .contacts-text-2 {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

}

@media only screen and (max-width: 480px) {

    .contacts-container{
        padding-top: 50px;
    }

}