#grid-container {
  display: flex;
  justify-content: space-between;
  width: calc(100%-50px);
  margin: 50px;
  flex-direction: column; }

.rows {
  display: flex;
  justify-content: space-between;
  width: calc(100%-50px);
  padding-bottom: 10px; }

.edit-button, .delete-button, #add-item-button {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  border: none; }

#table-content {
  display: flex;
  flex-direction: column; }

.sort-filter-container {
  display: flex; }

.input {
  padding: 10px;
  margin: 20px 10px; }

#sort-label {
  align-self: center; }
