$color-whitesmoke: #f5f5f5;
$color-black: #000;

#popup-box {
    display: flex;
    flex-direction: row;
    position: fixed;
    background: $color-whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: $color-black;
    padding: 10px;
}