$color-white: #fff;

@mixin flex-space-between {
    display: flex;    
    justify-content: space-between;
    width: 100%-50px;
}

#grid-container {
    @include flex-space-between;
    margin: 50px;
    flex-direction: column;
}

.rows {
    @include flex-space-between;
    padding-bottom: 10px;
}

.edit-button, .delete-button, #add-item-button{
    border-radius: 5px;
    padding: 10px;
    background-color: $color-white;
    border: none;
}

#table-content {
    display: flex;
    flex-direction: column;
}

.sort-filter-container {
    display: flex;
}

.input {
    padding: 10px;
    margin: 20px 10px;
}

#sort-label {
    align-self: center;
}