
.sprite {
    transform: rotate(1deg);
    display: inline-block;
    background: url(../images/smedia-sprites.png);
    height: 50px;
    width: 50px;
}

.fb-sprite {
    background-position: 0 0px;
}

.in-sprite {
    background-position: -50px 0;
}

.github-sprite {
    background-position: 0 -50px;
}

.insta-sprite {
    background-position: -50px -50px;
}