$color-white: #fff;
$color-light-grey: #C3CBE3;
$color-grey: #808080;
$color-black: #000;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

header {
    box-shadow: 5px 5px 2px $color-light-grey;
    background: linear-gradient(to right, $color-white, $color-light-grey);
    font-size: 20px;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: -25px;
    left: 0;
    width: 100%;
    justify-content: center;

    &:hover {
        top: 0;   
        transition-duration: 1.5s;
    }
}

nav {
list-style: none;

    li {
        display: inline; 
    }

    a {
        color: $color-black;
        letter-spacing: 0.5px;
        padding-right: 10px;
        display: inline-block;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* the link to About section has different 
padding and font weight than other links*/
#about-link {
    padding: 10px 10px;
    font-weight: 700;
}

/* the whole page has different sides and every 
section has paddings*/
body {
    font-family: ABeeZee;
    font-size: 15px;
    padding: 60px 0;
    background-color: $color-light-grey;
    margin: 0;
}

#content {
    margin-top: 70px;
    background-color: $color-white;
    padding: 20px 50px 0 50px;
    margin: 0 auto;
    max-width: 1366px;
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.paragraphs-container {
    @include flex-row;
}

.paragraph {
    padding-bottom: 15px;
    padding-right: 15px;
}

#edu, #skills {
    flex: 1;
}

#work {
    flex: 2
}

.sprite {
    &:hover {
        background-color: $color-grey;
        border-radius: 5px;
    }
}

/* The about section centered */
#about {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#media-icons, #interests {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    text-decoration: none;
}

#name-footer {
    display: inline-block;
}

/* responsive */
@media only screen and (max-width: 480px) {

    img {
        width: 100%;
        height: auto;
    }

    #content {
        padding: 10px;
    }

    header {
        top: 0;
    }
}

.hidden {
    display: none !important;
}