<header>
    <nav>
        <ul>
        <li id="about-link"><a href='index.html'>About</a></li>
        <li><a href='ranking.html'>Ranking</a></li>
        <li><a href='preview.html'>Preview</a></li>
        </ul>
    </nav>
</header>
